* {
    margin: 0px;
    padding: 0px;
    color: black;
}

.image img {
    width: 6%;
    height: 4%;
    margin: 10px;
    padding: 4px;

}

.navbar {
    height: 180px;
    justify-content: start;
    text-align: start;

}



 a {
    padding: 0px;
    margin-left: 20px;
    text-decoration: none;
    position: relative;
    bottom: 28px;

}
a:hover{
    color: green;
    cursor: pointer;
} 

svg {
    width: 12PX;
}

input {
    height: 30px;
    width: 200px;
    position: relative;
    bottom: 28px;
    left: 199px;
    border-radius: 10px;

}

.icon {
    position: relative;
    bottom: 30px;
    margin-right: 200px;

}

button {
    width: 70px;
    height: 37px;
    background-color: green;
    color: white;
    margin-left: 210px;
    position: relative;
    bottom: 28px;

    border-radius: 10px;


}

.btn {
    width: 70px;
    height: 37px;
    background-color: green;
    color: white;
    margin-left: 28px;
    position: relative;
    bottom: 28px;
    margin-right: 30px;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgb(195, 202, 209);
    color: black;
}

#cours {
    position: absolute;
    top: 149px;
}

#cours:hover{
    color: green;
    cursor: pointer;
}

.heading {

    background-color: white;
    position: absolute;
    left: 50px;
    top: 45px;
    font-size: 50px;
}

.pre {
    font-size: 30px;
    text-transform: capitalize;
}

h1 {
    color: rgb(21, 107, 21);
}

#submit {
    background-color: green;
    color: white;
    width: 170px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 335px;
    border-radius: 20px;
    margin-left: 10px;
}
#submit:hover{
    background-color: rgb(195, 202, 209);
    color: black;
}

h6 {
    font-weight: lighter;
    position: relative;
    top: 159px;
}

.micro {
    position: absolute;
    top: 500px;
    left: 25px;
}

.girl {
    margin-left: 800px;
    margin-top: -65px;
    justify-content: right;
}

#game {
    position: relative;
    top: 185px;
    margin-left: 670px;
    color: black;
    font-size: 45PX;
}

h2 {
    position: relative;
    top: 210px;
    color: black;
    margin-left: 700px;
}

.box1,
.box2,
.box3,
.box4 {
    position: relative;
    top: 219px;
    margin-left: 700px;
    color: black;

}

.box2 {
    position: relative;
    top: 235px;

}

.box3 {
    position: relative;
    top: 220px;
}

.box4 {
    position: relative;
    top: 225px;
}

.pre1,
.pre2,
.pre3,
.pre4 {
    color: black;


}

.pre1 {
    position: relative;
    top: 215px;
    margin-left: 700px;
}

.pre2 {
    position: relative;
    top: 224px;
    margin-left: 700px;
}

.pre3 {
    position: relative;
    top: 240px;
    margin-left: 700px;
}

.icon {
    width: 25px;
    margin-left: 670px;
    position: relative;
    top: 240px;
}

.icon2 {
    width: 25px;
    margin-left: 670px;
    position: relative;
    top: 256px;
}

.icon3 {
    width: 25px;
    margin-left: 670px;
    position: relative;
    top: 266px;
}

.free,
.learn {
    width: 100px;
    height: 50px;

    margin-left: 600px;
    position: relative;
    top: 280px;
    border-radius: 10px;
}

.learn {
    width: 100px;
    height: 40px;
    margin-left: 700px;
    position: relative;
    top: 280px;
    border-radius: 20px;

    display: inline-block;
}

#browers {
    position: relative;
    top: 1300px;
    margin-left: 50px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;


}
h1:hover{
    color: rgb(34, 119, 17);
    cursor: pointer;
}

.job {
    position: relative;
    top: 10px;
}

#container-row {
    display: inline-block;
    justify-content: space-evenly;
    flex-direction: row;


}

.develop-colum {
    width: 200px;
    height: 100px;
    background-color: rgb(195, 202, 209);
    color: black;
    position: relative;
    top: 1340px;
    margin-left: 50px;
    text-align: start;
    font-size: 17.5px;
    padding: 25px;
    border-radius: 15px;


}
.develop-colum:hover{
    background-color: rgb(43, 192, 93);
    cursor: pointer;
}

.Ai-colum {
    width: 200px;
    height: 100px;
    background-color: rgb(195, 202, 209);
    color: black;
    position: relative;
    top: 1190px;
    margin-left: 380px;
    text-align: start;
    font-size: 17.5px;
    padding: 25px;
    border-radius: 15px;

}
.Ai-colum:hover{
    background-color: rgb(43, 192, 93);
    cursor: pointer;
}

.degin-colum {
    width: 200px;
    height: 100px;
    background-color: rgb(195, 202, 209);
    color: black;
    position: absolute;
    top: 1540px;
    margin-left: 695px;
    text-align: start;
    font-size: 17.5px;
    padding: 25px;
    border-radius: 15px;
}
.degin-colum:hover{
    background-color: rgb(43, 192, 93);
    cursor: pointer;
}

.sale-colum {
    width: 200px;
    height: 100px;
    background-color: rgb(195, 202, 209);
    color: black;
    position: absolute;
    top: 1540px;
    margin-left: 1047px;
    margin-right: 50px;
    font-size: 17.5px;
    padding: 25px;
    border-radius: 15px;
}
.sale-colum:hover{
    background-color: rgb(43, 192, 93);
    cursor: pointer;
}

.pic {
    width: 300px;
    position: absolute;
    top: 179px;
    margin-left: 30px;

}

.container1 {
    position: relative;
    top: 95px;
    justify-content: space-evenly;
}

.writing-colum {
    width: 200px;
    height: 100px;
    background-color: rgb(195, 202, 209);
    color: black;
    position: absolute;
    top: 1720px;
    margin-left: 50px;
    text-align: start;
    font-size: 17px;
    padding: 25px;
    border-radius: 15px;
}
.writing-colum:hover{
    background-color: rgb(43, 192, 93);
}

.admin-colum {
    width: 200px;
    height: 100px;
    text-align: start;
    background-color: rgb(195, 202, 209);
    color: black;
    position: absolute;
    top: 1720px;
    margin-left: 380px;
    font-size: 17px;
    padding: 25px;
    border-radius: 15px;
}
.admin-colum:hover{
    background-color: rgb(43, 192, 93);
    cursor: pointer;
}

.finance-colum {
    width: 200px;
    height: 100px;
    background-color: rgb(195, 202, 209);
    color: black;
    position: absolute;
    top: 1720px;
    margin-left: 700px;
    text-align: start;
    font-size: 17px;
    padding: 25px;
    border-radius: 15px;
}
.finance-colum:hover{
    background-color: rgb(43, 192, 93);
    cursor: pointer;
}

.engineer-colum {
    width: 200px;
    height: 100px;
    background-color: rgb(195, 202, 209);
    color: black;
    position: absolute;
    top: 1720px;
    margin-left: 1045px;
    text-align: start;
    margin-right: 50px;
    font-size: 17px;
    padding: 25px;
    border-radius: 15px;
}
.engineer-colum:hover{
    background-color: rgb(43, 192, 93);
    cursor: pointer;
}

#container2 {
    width: 1250px;
    height: 500px;
    background-color: rgb(23, 133, 118);
    position: absolute;
    top: 2000px;
    left: 50px;

}

.prise {
    position: absolute;
    top: 40px;
    margin-left: 25px;
    color: white;
}

.pict {
    width: 500px;
    height: 500px;
    margin-left: 747.5px;
    position: absolute;
    top: 0px;
}

.good {
    position: absolute;
    top: 90px;
    margin-left: 25px;
    color: white;
    font-size: 30px;

}

.good2 {
    position: absolute;
    top: 220px;
    margin-left: 25px;
    color: white;
    font-size: 20px;
}

.good3 {
    position: absolute;
    top: 275px;
    margin-left: 35px;
    color: white;
    font-size: 20px;
}

.good4 {
    position: absolute;
    top: 309px;
    margin-left: 35px;
    color: white;
    font-size: 20px;
}

.good5 {
    position: absolute;
    top: 340px;
    margin-left: 35px;
    color: white;
    font-size: 20px;
}

.note {
    font-size: 50px;
}

.btn1 {
    position: absolute;
    top: 410px;
    margin-left: 40px;
    background-color: white;
    color: black;
    width: 170px;
    height: 50px;
    border-radius: 30px;


}

#container3 {
    width: 1250px;
    height: 650px;
    background-image: url(microsoft-365-FHhbHW4vFxc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    top: 2600px;
    margin-left: 50px;

}

.back {
    position: absolute;
    top: 35px;
    margin-left: 30px;
    font-weight: 700;
    color: white;
}

.back1 {
    position: absolute;
    top: 200px;
    margin-left: 30px;
    font-weight: 900;
    font-size: 50px;
    color: white;
}

.back2 {
    position: absolute;
    top: 339px;
    margin-left: 30px;
    color: white;
    font-size: 21px;
}

.post {
    width: 350px;
    height: 140px;
    padding-left: 15px;
    padding-top: 20px;
    background-color: rgb(21, 107, 21);
    color: white;
    position: absolute;
    top: 470px;
    margin-left: 50px;
    border-radius: 20px;
    text-align: start;
    font-size: 35px;


}

.project {
    width: 340px;
    height: 140px;
    padding-left: 15px;
    padding-top: 20px;
    background-color: rgb(21, 107, 21);
    margin-left: 459.5px;
    border-radius: 15px;
    color: white;
    font-size: 35px;
    position: absolute;
    top: 470px;
    text-align: start;
}

.get {
    width: 350px;
    height: 140px;
    padding-left: 15px;
    padding-top: 20px;
    background-color: rgb(21, 107, 21);
    margin-left: 860px;
    border-radius: 15px;
    position: absolute;
    top: 470px;
    font-size: 35px;
    color: white;
    text-align: start;
}

.tea {
    margin-left: 470px;
    padding-top: 40px;
    font-size: 25px;
    position: absolute;
    bottom: 10px;
}

.last {
    margin-left: 870px;
    padding-top: 40px;
    font-size: 25px;
    position: absolute;
    bottom: 10px;
}

h5 {
    position: absolute;
    top: 540px;
    bottom: 10px;
    margin-left: 60px;
    padding-left: 10px;
    font-size: 25px;
    color: white;


}

SUP {
    color: white;
}

.post:hover {
    background-color: rgb(4, 41, 4);
    cursor: pointer;

}

.project:hover {
    background-color: rgb(4, 41, 4);
    cursor: pointer;
}

.get:hover {
    background-color: rgb(4, 41, 4);
    cursor: pointer;
}

#container4 {
    width: 115vh;
    height: 660px;
    background-color: rgb(195, 202, 209);
    color: black;
    position: absolute;
    top: 700px;

}

.busines {
    position: absolute;
    top: 30px;
    left: 25px;
    font-size: 50px;
    color: black;

}

.arrow0,
.arrow1,
.arrow2 {
    font-size: 25px;
    color: white;
}

.proof {
    margin-left: 25px;
    position: absolute;
    top: 155px;
    color: black;
}

.data {
    margin-left: 25px;
    position: absolute;
    top: 195px;
    left: 10px;
    font-size: 20px;
    color: black;
}

.cost {
    position: absolute;
    top: 250px;
    left: 10px;

    color: black;
    margin-left: 20px;
}

.only {
    position: absolute;
    top: 289px;
    left: 18px;
    font-size: 20px;
    color: black;
    margin-left: 27px;

}

.safe {
    position: absolute;
    top: 350px;
    left: 10px;
    color: black;
    margin-left: 20px;
}

.work {
    position: absolute;
    top: 390px;
    left: 10px;
    font-size: 20px;
    color: black;
    margin-left: 27px;
}

#control {
    margin-left: 750px;
    width: 500px;
    height: 660px;
    background-color: rgb(24, 197, 24);
    position: absolute;

    top: 0px;
}

.world {
    position: absolute;
    top: 109px;
    margin-left: 75px;
    color: white;
    font-size: 40px;
}

.star1 {
    position: absolute;
    top: 273px;
    margin-left: 50px;
    color: #ffffff;
    font-size: 25px;
}

.rate {
    position: absolute;
    top: 304px;
    margin-left: 95px;
    color: white;
    font-size: 28px;
}

.winner {
    position: absolute;
    top: 435px;
    margin-left: 95px;
    color: white;
    font-size: 28px;
}

.best {
    position: absolute;
    top: 470px;
    margin-left: 95px;
    color: white;
    font-size: 25px;
}

.hand {
    margin-left: 476px;
    position: absolute;
    top: -1px;
    z-index: 1;

}

#container5 {
    width: 90vh;
    height: 700px;
    position: absolute;
    top: 1400px;
    background-color: blue;

}

.for {
    margin-left: 588px;
    background-color: blue;
    position: absolute;
    top: 0px;
    width: 660px;
    height: 700px;

}

.talent {
    position: absolute;
    top: 15px;
    color: white;
    margin-left: 640px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.great {
    position: absolute;
    top: 55px;
    margin-left: 640px;
    color: white;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}

.meet {
    position: absolute;
    top: 200px;
    margin-left: 639px;
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}

.hr-sperator {
    position: absolute;
    top: 500px;
    color: aqua;
    display: block;
    margin-left: 610px;
    width: 620px;
    height: 0px;
}

.career {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 530px;
    color: white;
    margin-left: 618px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.when {
    width: 100px;
    height: 60px;
    position: absolute;
    top: 530px;
    color: #ffffff;
    margin-left: 850px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.explore {
    width: 100px;
    height: 60px;
    position: absolute;
    top: 530px;
    color: #ffffff;
    margin-left: 1025px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.oppo {
    position: absolute;
    top: 630px;
    margin-left: 630px;
    background-color: white;
    width: 190px;
    height: 50px;
    border-radius: 25pX;
    color: black;
    border: 2PX solid black;
}

.oppo:hover {
    background-color: rgb(3, 80, 3);
    cursor: pointer;
}

#container6 {
    width: 1250px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 4750px;
    margin-left: 30px;
}

.carousel-two {
    margin-left: 0px;
    position: absolute;
    top: 190px;
}

.d-block-w-100 {
    margin-left: 575px;
    position: absolute;
    top: 190px;

}

.d-block-w-102 {
    margin-left: 1150px;
    position: absolute;
    top: 190px;

}

.brand {
    font-size: 60px;
    margin-left: 25px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#container7 {
    width: 1250px;
    height: 700px;
    background-color: rgb(58, 204, 82);
    margin-left: 20px;
    position: absolute;
    top: 700px;
    color: #ffffff;

}

.order1 {
    color: white;
    margin-left: 50px;
    position: absolute;
    top: 25px;
    text-decoration: none;
    font-size: 20px;
}

.order2 {
    color: #ffffff;
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;

}

.order1:hover {
    background-color: gainsboro;
    color: green;
    text-decoration: underline;

}

.usa {
    margin-left: 175px;
    position: absolute;
    top: 25px;
    text-decoration: none;
    font-size: 20px;
}

.list {
    color: #ffffff;
    margin-left: 175px;
    text-decoration: none;
    font-size: 20px;
}

.usa:hover {
    background-color:white;
    color: green;
    text-decoration: underline;

}


.blog1 {
    color: #ffffff;
    margin-left: 330px;
    position: absolute;
    top: 25px;
    text-decoration: none;
    font-size: 20px;
}

.blog2 {
    color: white;
    margin-left: 330px;
    font-size: 20px;
}

.blog1:hover {
    background-color: #ffffff;
    color: green;
    text-decoration: underline;

}

.press1 {
    color: #ffffff;
    margin-left: 478px;
    position: absolute;
    top: 25px;
    text-decoration: none;
    font-size: 20px;
}

.press2 {
    color: white;
    margin-left: 478px;
    text-decoration: none;
    font-size: 20px;
}

.press2:hover {
    background-color: #ffffff;
    color: green;
    text-decoration: underline;
}

.hr-sperator1 {
    width: 1200px;
    height: 1px;
    color: #ffffff;
    position: absolute;
    top: 600px;
    margin-left: 20px;
    color: black;


}

.wma-129777 {
    position: absolute;
    top: 620px;
    margin-left: 20px;
    color: black;
    font-size: 18px;
}

.tem {
    position: absolute;
    top: 620px;
    margin-left: 350px;
    color: black;
    font-size: 18px;
}

.prit {
    position: relative;
    top: 620px;
    margin-left: 499px;
    color: black;
    font-size: 18px;
}

.at {
    position: absolute;
    top: 620px;
    margin-left: 639px;
    color: black;
    font-size: 18px;
}

.cook {

    position: absolute;
    top: 620px;
    margin-left: 840px;
    color: black;
    font-size: 18px;

}
.Access{
position: absolute;
top: 620px;
margin-left: 980px;
color: black;
font-size: 18px;
}
.btn01 {
    margin-left:700px ;
    position: relative;
    top: 250px;
    width: 230px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(19, 146, 19);
    color: black;

}
.btn02{
    margin-left: 80px;
    position: relative;
    top:250px;
    width: 230px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    color: black;
}
.btn01:hover{
    background-color: rgb(144, 231, 144);
    cursor: pointer;
}
.btn02:hover{
    background-color: rgb(195, 202, 209);
    cursor: pointer;
}




























































































































/* #container7{
        width: 1150px;
        height: 700px;
        margin-left: 50px;
    
        position: absolute;
        top: 5000px;


    } */